{% extends "nav_panel.html" %}
{% load app_buttons %}

{% block main %}
  <style type="text/css">
    h2 { margin-bottom: 0.5em; }
    .span4 { margin-bottom: 1em; }
  </style>
  <div class="row span12">
    <div class="span12" style="text-align: right;">
      <a href="{% url 'submit-app' %}" class="btn btn-lg btn-success">Submit your app &raquo;</a>
    </div>
  </div>
<!--  <div class="row">{% app_buttons latest_apps %}</div>-->
<!--  <div class="row">-->
<!--    <div class="span8" style="text-align: right;">-->
<!--      <a href="{% url 'all_apps'%}#newest release">more newest releases &raquo;</a>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row span12"><div class="span12"><h2>Community Favorites</h2></div></div>
  <div class="row span12">{% app_buttons downloaded_apps %}</div>
  <div class="row span12">
    <div class="span12" style="text-align: right;">
      <a href="{% url 'all_apps'%}#downloads">more community favorites &raquo;</a>
    </div>
  </div>

  <a style="display: none;" href="/media/fu.txt">fu skript kiddiez</a>
{% endblock %}
