.app_button
{
    position: relative;
    color: #777;
}

.app_button h5
{
    margin: 0;
}

.app_button .description
{
    color: black;
    text-decoration: none;
}

.app_button .partial, .app_button .full
{
    background-color: whiteSmoke;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    padding: 1em;
    margin-bottom: 0.8em;
    width: 93.5%;
}

.app_button .partial
{
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.app_button .full
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.app_button .description
{
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.app_button .partial .description
{
    height: 3em;
    overflow: hidden;
}

.app_button:hover .partial
{
    visibility: hidden;
}

.app_button:hover .full
{
    display: block;
}

.app_button .app_icon
{
    width: 80px;
    margin: 0;
}

.app_button .full .tags, .app_button .downloads
{
    font-size: 0.8em;
    color: black;
}

.app_button .full .tags strong, .app_button .downloads strong
{
    margin-right: 0.9em;
}

.app_button .full .stars,.app_button .partial .stars
 {
    position: relative;
    width: 100px;
    white-space: nowrap;

}

.app_button .full .stars .stars-empty,.app_button .partial .stars .stars-empty
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.app_button .full .stars .stars-full,.app_button .partial .stars .stars-full
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    overflow: hidden;
}

.app_button .full .votes,.app_button .partial .votes
{
    position: relative;
    top: -0.1em;
    left: 90px;
}

.app_button .sticker
{
    width: 28px;
    height: 28px;
    z-index: 9;
    right: -2px;
    top: 5px;
    position: absolute;
    border-top-right-radius: 0.3em;
}

.app_button:hover .sticker
{
    z-index: 11;
}
.span5{
    width:450px;
    max-width:450px;
    min-width:450px;
}
